<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

 <div class="pull-right">
<%= link_to 'Imprimir reportes 3T', prints_path, class: 'btn'%>
</div>


<%= link_to 'Listar pacientes', reads_path, class: 'btn btn-primary'%>